[submodule "erl_call"]
	path = erl_call
	url = ssh+git://aur@aur4.archlinux.org/erl_call.git/
[submodule "soundsense"]
	path = soundsense
	url = ssh+git://aur@aur4.archlinux.org/soundsense.git/
[submodule "shairplay-git"]
	path = shairplay-git
	url = ssh+git://aur@aur4.archlinux.org/shairplay-git.git/
[submodule "rebar3-git"]
	path = rebar3-git
	url = ssh+git://aur@aur4.archlinux.org/rebar3-git.git/
[submodule "rebar3"]
	path = rebar3
	url = ssh+git://aur@aur4.archlinux.org/rebar3.git/
[submodule "quickfort-git"]
	path = quickfort-git
	url = ssh+git://aur@aur4.archlinux.org/quickfort-git.git/
[submodule "dwarffortress-spacefox"]
	path = dwarffortress-spacefox
	url = ssh+git://aur@aur4.archlinux.org/dwarffortress-spacefox.git/
[submodule "visual_erlang"]
	path = visual_erlang
	url = ssh+git://aur@aur4.archlinux.org/visual_erlang.git/
[submodule "chromium-incognito"]
	path = chromium-incognito
	url = ssh+git://aur@aur4.archlinux.org/chromium-incognito.git/
[submodule "lambdapad-git"]
	path = lambdapad-git
	url = ssh+git://aur@aur4.archlinux.org/lambdapad-git.git/
[submodule "rebar3-zsh"]
	path = rebar3-zsh
	url = ssh+git://aur@aur.archlinux.org/rebar3-zsh.git
[submodule "minio-mc-bin"]
	path = minio-mc-bin
	url = ssh://aur@aur.archlinux.org/minio-mc-bin.git
[submodule "camel-k-bin"]
	path = camel-k-bin
	url = ssh://aur@aur.archlinux.org/camel-k-bin.git
